.startTime{
    width: 100%;
    display: flex;
}
.startTimeL{
    width: 50%;
    height: 90vh;
    background: linear-gradient( 90deg, rgba(71, 183, 172, 1) 3%, rgba(36, 28, 97, 1) 100% );
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 0 5%;
}
.startTimeL h1{
    font-size: 55px;
    color: #fff;
}
.startTimeL p{
    color: #fff;
    font-size: 18px;
}
.startTimeR{
    width: 50%;
    height: 90vh;
display: flex;
flex-direction: column;
padding: 10px 3%;
padding-bottom: 50px;
overflow-y: scroll;
}
.startTimeR h4{
    font-size: larger;
}
.weekDays{
    width: 100%;
    display: flex;
    /* background-color:#47b7ac; */
    background: linear-gradient( 90deg, rgba(71, 183, 172, 1) 3%, rgba(36, 28, 97, 1) 100% );

    justify-content: space-between;
    padding: 30px 30px;
    align-items: center;
}.WeEk{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.WeEk input{
    width: 20px;
}
.weAkTiMe{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.weAkTiMe span{
    font-weight: bold;
    font-size: 18px;
}
.TimeInterval{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.interVal{
    width: calc(33% - 20px);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(225, 235, 235, 0.728);
    padding: 20px 0;

}
.interVal>input{
    width: 20px;
    height: 20px;
}
.DaysWrap{
    margin: 20px 0;
}
.strtTimeBTn{
    padding: 10px;
    font-size: 18px;
    border: 0;
    color: blue;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.strtTimeBTn:hover{
    color: #fff;
}